@font-face {
    font-family: 'Conv_Multicolore';
    src: url('../fonts/Multicolore/fonts/Multicolore.eot');
    src: local('â˜º'), url('../fonts/Multicolore/fonts/Multicolore.woff') format('woff'), url('../fonts/Multicolore/fonts/Multicolore.ttf') format('truetype'), url('../fonts/Multicolore/fonts/Multicolore.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#sticky {
    padding: 0.5ex;
    font-size: 2em;
}

a:link,
a:hover,
a:active,
a:visited {
    -webkit-transition: color 150ms;
    transition: color 150ms;
    color: #95a5a6;
    text-decoration: none;
}

a:hover {
    color: #7f8c8d;
    text-decoration: underline;
}

.hide {
    display: none;
}

#catmenu {
    margin: 10px auto;
    padding-top: 5px;
}

.contain {
    width: 100%;
}

.row {
    width: 100%;
}

.row__inner {
    -webkit-transition: 450ms -webkit-transform;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.modal-body {
    padding: 20px 10px;
    color: #000;
}

.tile {
    position: relative;
    display: inline-block;
    width: 200px;
    height: auto;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.tile__img {
    width: 250px;
    height: 140.625px;
    -o-object-fit: cover;
    object-fit: cover;
}

.tile {
    position: relative;
    display: inline-block;
    width: 175px;
    height: auto;
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.tile a {
    color: #fffcf5 !important;
    font-size: 12px;
    width: 100%;
    font-family: 'Conv_Multicolore';
}

.tile__img {
    width: 250px;
    height: 140.625px;
    -o-object-fit: cover;
    object-fit: cover;
}

.tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-transition: 450ms opacity;
    transition: 450ms opacity;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #f8f8f8; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.topheader {

    -webkit-box-shadow: 5px 5px 5px #dbdcdb;
    -moz-box-shadow: 5px 5px 5px #dbdcdb;
    box-shadow: 5px 5px 5px #dbdcdb;
    z-index: 999;
    background-color: #8bc8da;
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100;
    top: 0;
    background-image: url(../img/parallax-bg.png);
    background-repeat: repeat-x;
    background-blend-mode: lighten;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

@keyframes keyframes1 {
    0% {
        transform: rotate(-1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(1.5deg);
        animation-timing-function: ease-out;
    }
}

@keyframes keyframes2 {
    0% {
        transform: rotate(1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(-1.5deg);
        animation-timing-function: ease-out;
    }
}

/*******/
.card {
    border-radius: 5px;
}

.card  .price{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.fruits-et-legumes .card {
    width: 100% !important;
    height: 100%;
    background: #69b430;
}

.sucrerie .card {
    width: 100% !important;
    height: 100%;
    background: #f6525c;
}

.snacks .card {
    width: 100% !important;
    height: 100%;
    background: #0a7fa8;
}

.cafe-et-the .card {
    width: 100% !important;
    height: 100%;
    background: #c59c71;
}

.produits-laitier .card {
    width: 100% !important;
    height: 100%;
    background: #66615b;
}

.viande .card {
    width: 100% !important;
    height: 100%;
    background: #9c0f17;
}

.followMeBar {
    background: #e64a19;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    color: #fff;
}

.followMeBar.fixed {
    position: fixed !important;
    top: 220px;
    box-sizing: border-box;
    z-index: 0;
}

.followMeBar.fixed.absolute {
    position: absolute;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control {
    width: 8%;
    width: 0px;
}

.carousel-control.left,
.carousel-control.right {
    margin-right: 40px;
    margin-left: 32px;
    background-image: none;
    opacity: 1;
}

.carousel-control > a > span {
    color: white;
    font-size: 29px !important;
}

.carousel-col {
    position: relative;
    min-height: 1px;
    padding: 5px;
    float: left;
}

.title-category {
    font-size: 20px;
    font-family: 'Conv_Multicolore';
    position: relative;
    overflow: hidden;
}

.title-category .viewplus {
    border-radius: 0;
    position: absolute;
    right: 0;
    bottom: 0;

}
.title-category .viewplus:before {
    content: '';
    right: 96px;
    top: 0px;
    position: absolute;
    width: 12px;
    height: 117%;
    transform: rotate(20deg);
    background-color: #50bcda;
  

}

.title-category-fix {
    font-family: 'Conv_Multicolore';
    font-size: 20px;
    position: fixed;
    padding: 5px 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #169bb6;
    margin-top: 10px;
    overflow: hidden;
}

.title-category-fix .viewplus {
    border-radius: 0;
    position: absolute;
    right: 0;
    bottom: 0;

}
.title-category-fix .viewplus:before {
    content: '';
    right: 96px;
    top: 0px;
    position: absolute;
    width: 12px;
    height: 117%;
    transform: rotate(20deg);
    background-color: #50bcda;


}
.productsCont {
    padding: 14px;
}

.products-list {
    padding: 20px !important;
    background: #f8f8f8;
}

#boissonCat {
    padding: 20px !important;
}

#boissonCat .title-category {
    background: #f8f8f8;
    border-bottom: 1px solid #169bb6;
    margin-top: 5px;
    padding: 5px 10px;
}

#promotionCat {
    padding: 20px !important;
}

#promotionCat .title-category {
    background: #f8f8f8;
    border-bottom: 1px solid #169bb6;
    margin-top: 5px;
    padding: 5px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media (min-width: 576px) {

    .modal-dialog {
        max-width: 900px;
        margin: 5px auto;
    }
}
